################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/wpfkalkulyator2/wpfkalkulyator2.sln
